services:
  mysql:
    image: mysql:8.0
    container_name: test_integrated_db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: integrated_db
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 3s
      retries: 20

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: password
      UPLOAD_LIMIT: 100M

volumes:
  mysql_data:
